@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    transparent,
    rgb(var(--background-end-rgb))
  ) rgb(var(--background-start-rgb));
 }

@layer utilities {
 .text-balance {
   text-wrap: balance;
 }
}

.container {
  background-color: aqua;
  width: 60%;
  float: right;
  height: 600px;
  display: flex;
  flex-wrap: wrap;  /* 要素が折り返し可能 */
}

.Leftupcontents {
  display: flex;
  width: 47%;  /* コンテナ幅の50% */
  height: 47%;  /* コンテナ高さの50% */
  align-items: flex-start;  /* 上に寄せる */
  justify-content: flex-start;  /* 左に寄せる */
}

.Leftdowncontents {
  display: flex;
  flex: end;
  width: 47%;
  height: 47%;
  align-items: flex-end;  /* 下に寄せる */
  justify-content: flex-start;  /* 左に寄せる */
}

.Rightupcontents {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  width: 47%;
  height: 47%;
}



.Rightdowncontents {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 47%;
  height: 47%;
}

.mainarticle{
  float: left;
  display: flex;
  width: 40%;
  height: 600px;
  
}

.banner{
  
  display: flex;
  justify-content: center; /* 横方向の中央揃え */
  align-items: center;     /* 縦方向の中央揃え */
  height: 300px;
  width: 100%;

}
.image-size {
  width: 1000px;
  height: 300px;
}

.footerr{
  background-color: #094;
}



.rankingcontents{
  display: flex;
  flex-direction: column;
  width: 100%;
  height:300px;
  align-items: center;
  justify-content: center;
  background-color: blue;
}