@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    transparent,
    rgb(var(--background-end-rgb))
  ) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}





.RiceDAOcards{
  display: flex;
}




.headercontainer {
  position: fixed;
  background-color: white;
  top: 0;
  width: 100%;
  height: 150px; /* ヘッダーの高さを指定 */
  z-index: 1000; /* 重なり順を調整 */
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #000; /* 下部にレイアウト線を追加 */
}

.total-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative; /* 追加 */
  margin-top: 75px; /* 追加 */
}

.logo{
  width: 15%;
  display: grid;
  justify-content: center; /* 変更 */
  align-items: center;
  position: absolute; /* 追加 */
  left: 50%; /* 追加 */
  top: 10px; /* 追加 */
  transform: translateX(-50%); /* 追加 */
}

.adv {
  height: 400px;
  width: 100%;
}

.adv img {
  width: 100%;
  height: 100%; /* 親要素の高さに合わせる */
 
}


.pickupnews{
  
  width: 100%; 
  display: flex;
  flex-wrap: wrap; /* 要素が折り返し可能 */
  margin-top: 200px; /* ヘッダーの高さ分のマージンを追加 */
}

.leftcon{
width: 59%;
}



.rightcon {
  width: 41%;
  display: flex;
  flex-direction: column;
}

.rightcon .item {
  height: calc(50% - 10px); /* 各項目の高さを50%に設定し、10pxのマージンを考慮 */
  display: flex;
  flex-direction: column;
  margin-bottom: 0px; /* 隙間を指定 */
}

.rightcon .item:last-child {
  margin-bottom: 0; /* 最後の項目の下のマージンを0に設定 */
}

/* モバイル用スタイル */
@media (max-width: 768px) {
  .pickupnews {
    flex-direction: column;
  }

  .leftcon {
    width: 100%; /* 幅を100%に設定 */
  }

  .rightcon {
    flex-direction: row; /* 横並びに設定 */
    flex-wrap: wrap; /* 項目が溢れた場合に改行する */
    width: 100%;
  }

  .rightcon .item {
    width: 50%; /* 幅を100%に設定して縦並びに */
    margin-bottom: 10px; /* 各項目の間のマージン */
    
  }
}


.subcon {
  width: 100%;
  display: flex;
  flex-wrap: wrap; /* 要素が折り返し可能 */
  align-items: center; /* 縦方向の中央揃え */
  justify-content: center; /* 横方向の中央揃え */
}

.subpicks {
  width: 90%;
  height: 350px;
  display: flex;
  justify-content: center; /* 横方向の中央揃え */
  margin: auto; /* 自動的に中央に配置 */
}

.lotnews{
  width: 100%;
}


.footerr {
  background-color:#094; /* 背景色を修正 */
  height: 300px;
}
